  <section>
    <form>
      <!-- template ref var filter -->
      <input type="text" placeholder="Filter by city" #filter>
      <!-- passing input value. filter.value -->
      <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
    </form>
  </section>

  <section class="results">
    <!--Property binding. Send data from parent(home component) to child (hosing-location)-->
    <app-housing-location *ngFor = "let housingLocation of filteredLocationList" [housingLocation]="housingLocation"></app-housing-location>

    <h3 *ngIf="notfound" style = "text-align: center; color: red;">Sorry No matches found!</h3>
  </section>